@import url("https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css");
@import url("https://rsms.me/inter/inter-ui.css");

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter UI";
}

.button {
    display: flex;
    width: fit-content;
    font-weight: 800;
    padding: 20px 28px;
    background-color: #11ae9d;
    color: #fff;
    border-radius: 24px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.6px;
    box-shadow: 0 4px 16px 2px rgba(17, 174, 157, 0.2);
    cursor: default;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    flex-direction: column;

    h3 {
        color: #fff;
    }
}
.circle {
    display: flex;
    background-color: #000;
    bottom: -40vw;
    position: absolute;
    border-radius: 50%;
    width: 70vw;
    height: 70vw;
    content: " ";
    z-index: -1;
}
